<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <!-- Bootstrap -->
  <link rel='stylesheet' href='/css/bootstrap.min.css' />
  <link rel='stylesheet' href='/css/font-awesome.min.css' />
  <link rel='stylesheet' href='/css/index.css' />
  <link href="/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
  <meta name="viewport" content="width=device-width, initial-scale=1"></head>
  <!-- <% include header.html %>
  -->
<body>
  <!-- header-section-starts -->
  <div class="header">
    <div class="header-banner">
      <div class="container">
        <div class="top-menu">
          <span class="menu"></span>
          <ul>
            <li>
              <a href="#ABOUT" class="scroll">ABOUT</a>
            </li>
            <li>
              <a href="#WORK" class="scroll">WORK</a>
            </li>
            <li>
              <a href="#BLOG" class="scroll">BLOG</a>
            </li>
            <li>
              <a href="#CONTACT" class="scroll">CONTACT</a>
            </li>
            <div class="clearfix"></div>
          </ul>
        </div>
        <div class="admin_login">
          <div class="btn-group">
            <a href="login" class="btn btn-success">管理员登陆</a>
            <a href="message_board" class="btn btn-success">公共留言板</a>
          </div>
        </div>

        <div class="header-banner-info text-center">
          <img src="../images/logo.png" alt="" />
          <h3>HELLO</h3>
          <h1>
            my name is<span> Liuchang</span>
          </h1>
          <p>I'm a Front-end development engineer born in Hubei.</p>
          
          <ul class="details">
            <li>
              Age     :
              <a>23</a>
            </li>
            <li>
              city     :
              <a>beijing</a>
            </li>
            <li>
              Study at     :
              <a>BIT</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <!-- header-section-ends -->
  <!-- content-section-starts -->
  <div class="content-section">
    <!-- about-section-starts -->
    <div class="about-section" id="ABOUT">
      <div class="container">
        <div class="about-section-head text-center">
          <img src="../images/head.png" alt="" />
          <h3>ABOUT</h3>
          <label></label>
          <p>没有填不了的坑，只有填不完的坑...</p>
        </div>
        <div class="about-section-grids">
          <div class="col-md-4 about-section-grid-1">
            <h4>Who am I?</h4>
            <p>
              <lable>姓名：</lable>
              <span>刘畅</span>
            </p>
            <p>
              <lable>出生年月：</lable>
              <span>1993-04-06</span>
            </p>
            <p>
              <lable>现居地：</lable>
              <span>北京</span>
            </p>
            <p>
              <lable>家乡：</lable>
              <span>湖北-荆州</span>
            </p>
            <p>
              <lable>目前身份：</lable>
              <span>北京理工大学研究生</span>
            </p>
            <p>
              <lable>所学专业：</lable>
              <span>控制工程与科学-模式识别方向</span>
            </p>
            <p>
              <lable>兴趣爱好：</lable>
              <span>电影、小说、段子、编程、音乐、跑步、游戏、摄影、旅行</span>
            </p>
            <p>
              <lable>喜欢的歌手：</lable>
              <span>周杰伦、林俊杰、信</span>
            </p>
            <p>
              <lable>喜欢的演员：</lable>
              <span>胡歌、陈乔恩</span>
            </p>
            <p>
              <lable>专业素养：</lable>
              <span>
                熟练使用javascript、html、css,具有jQuery、Bootstrap、nodejs、php、以及响应式web设计开发经验，对Mysql以及Mongodb有一定了解，熟悉插件开发流程，熟悉ajax前后端交互模式，具有简单的端到端项目开发以及代码部署经验，同时具有良好的编码习惯与风格。
              </span>
            </p>
            <ul class="social-icons">
            <li>
              <a href="https://www.facebook.com/profile.php?id=100011080518167&fref=nf" target="_blank" title="请确保能翻墙，否则无法访问"> <i class="fa fa-twitter"></i>刘畅
              </a>
            </li>
            <li>
              <a href="http://user.qzone.qq.com/736124461/main" target="_blank" title="进入qq空间"> <i class="fa fa-qq"></i>736124461
              </a>
            </li>
            <li>
              <a href="javascript:;" title="微信">
                <i class="fa fa-wechat"></i>Alex2917
              </a>
            </li>
            <li>
              <a href="http://weibo.com/1724138882/profile?rightmod=1&wvr=6&mod=personinfo" target="_blank" title="进入微博首页">
                <i class="fa fa-weibo"></i>llcT-Bag
              </a>
            </li>
          </ul>
            <a class="btn btn-success btn-lg" href="javascript:;" id="konw_more">我想了解更多关于ta..</a>
          </div>
          <div class="col-md-4 about-section-grid-2 text-center">
            <img src="../images/PersonalPhoto.jpg" class="img-responsive" alt="" />
          </div>
          <div class="col-md-4 about-section-grid-3">
            <h4>MY SKILLS</h4>
            <p>Basic Skills</p>
            <div class="progress-grid">
              <div class="meter red">
                <span style="width:70%;">
                  <div class="progress_desc">Javascript</div>
                  <div class="percent">70%</div>
                  <div class="clearfix"></div>
                </span>
              </div>
              <div class="meter animate">
                <span style="width:60%;">
                  <div class="progress_desc">HTML/HTML5</div>
                  <div class="percent">60%</div>
                  <div class="clearfix"></div>
                </span>
              </div>
              <div class="meter">
                <span style="width:55%;">
                  <div class="progress_desc">CSS/CSS3</div>
                  <div class="percent">55%</div>
                  <div class="clearfix"></div>
                </span>
              </div>
            </div>
            <p>Advanced Skills</p>
            <div class="progress-grid">
              <div class="meter red">
                <span style="width:80%;">
                  <div class="progress_desc">jQuery</div>
                  <div class="percent">80%</div>
                  <div class="clearfix"></div>
                </span>
              </div>
              <div class="meter animate">
                <span style="width:70%;">
                  <div class="progress_desc">Bootstrap</div>
                  <div class="percent">70%</div>
                  <div class="clearfix"></div>
                </span>
              </div>
              <div class="meter">
                <span style="width:40%;">
                  <div class="progress_desc">Nodejs</div>
                  <div class="percent">40%</div>
                  <div class="clearfix"></div>
                </span>
              </div>
              <div class="meter">
                <span style="width:30%;">
                  <div class="progress_desc">PHP</div>
                  <div class="percent">30%</div>
                  <div class="clearfix"></div>
                </span>
              </div>
              <div class="meter">
                <span style="width:50%;">
                  <div class="progress_desc">Mysql/Mongodb</div>
                  <div class="percent">50%</div>
                  <div class="clearfix"></div>
                </span>
              </div>
              <div class="meter">
                <span style="width:40%;">
                  <div class="progress_desc">SVN/Git</div>
                  <div class="percent">40%</div>
                  <div class="clearfix"></div>
                </span>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <!-- about-section-ends -->
    <!-- portfolio-section-starts -->
    <div class="portfolio-section" id="WORK">
      <div class="portfolio-section-top-row">
        <div class="container">
          <div class="portfolio-section-head text-center">
            <h3>PORTFOLIO</h3>
            <label></label>
            <p>All the things that we've been through will be useful.</p>
          </div>
          <div class="col-md-4 portfolio-section-top-row-left-grid">
            <div class="project-name">
              <span>project-name</span>
              <h3>采遗网</h3>
            </div>
            <div class="project-description">
              <span>project description</span>
              <ul>
                <li>非物质文化遗产</li>
                <li>电商平台</li>
              </ul>
              <p>个人职责：负责搭建采遗网个人中心、跑通购物流程以及主页的改版等等</p>
            </div>
            <div class="address">
              <span>project web site or address</span>
              <a href="http://www.chineworld.com" target="_blank">http://www.chineworld.com/</a>
            </div>
          </div>
          <div class="col-md-4 portfolio-section-top-row-left-grid">
            <div class="project-name">
              <span>project-name</span>
              <h3>想听网</h3>
            </div>
            <div class="project-description">
              <span>project description</span>
              <ul>
                <li>
                  音乐网站
                </li>
                <li>
                  毕业设计
                </li>
              </ul>
              <p>个人职责：负责所有前端工作以及参与和后台交互接口分析</p>
            </div>
            <div class="address">
              <span>project web site or address</span>
              <a href="http://lchxiangting.applinzi.com" target="_blank">lchxiangting.applinzi.com</a>
            </div>
          </div>
          <div class="col-md-4 portfolio-section-top-row-left-grid">
            <div class="project-name">
              <span>project-name</span>
              <h3>个人主页</h3>
            </div>
            <div class="project-description">
              <span>project description</span>
              <ul>
                <li>
                  个人主页
                </li>
              </ul>
              <p>个人职责：网站由一人搭建并部署上线</p>
            </div>
            <div class="address">
              <span>project web site or address</span>
              <a href="http://www.changshen2333.com:3000" target="_blank">www.changshen2333.com:3000</a>
            </div>
          </div>
          <div class="col-md-12 portfolio-section-top-row-right-grid">
            <div class="wmuSlider example1 section" id="section-1">
              <article style="position: absolute; width: 100%; opacity: 0;">
                <img src="../images/cyw.png" class="img-responsive" alt=""></article>
              <article style="position: absolute; width: 100%; opacity: 0;">
                <img src="../images/xtw.png" class="img-responsive" alt=""></article>
              <article style="position: absolute; width: 100%; opacity: 0;">
                <img src="../images/personal.png" class="img-responsive" alt=""></article>
              <ul class="wmuSliderPagination">
                <li>
                  <a href="javascript:;" class="">0</a>
                </li>
                <li>
                  <a href="javascript:;" class="">1</a>
                </li>
                <li>
                  <a href="javascript:;" class="">2</a>
                </li>
              </ul>

            </div>

          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <!-- <div class="portfolio-section-bottom-row" id="portfolio">
        <div class="container">
          <ul id="filters" class="clearfix">
            <li>
              <span class="filter active" data-filter="app card icon web logo1">All</span>
            </li>
            <li>
              <span class="filter" data-filter="app">Web Design</span>
            </li>
            <li>
              <span class="filter" data-filter="card">Coding</span>
            </li>
            <li>
              <span class="filter" data-filter="icon">Photography</span>
            </li>
            <li>
              <span class="filter" data-filter="logo1">Freebies</span>
            </li>
          </ul>
          <div id="portfoliolist">
            <div class="portfolio card mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="card" style="display: inline-block; opacity: 1;">
              <div class="portfolio-wrapper">
                <a href="#small-dialog" class="b-link-stripe b-animate-go  thickbox play-icon popup-with-zoom-anim">
                  <img src="../images/pic-1.jpg" class="img-responsive" alt="" />
                  <div class="b-wrapper">
                    <h2 class="b-animate b-from-left    b-delay03 ">
                      iOS 7 Weather App Design
                      <img src="../images/icon-eye.png" alt=""/>
                    </h2>
                  </div>
                </a>
              </div>
            </div>
            <div class="portfolio app mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="app" style="display: inline-block; opacity: 1;">
              <div class="portfolio-wrapper">
                <a href="#small-dialog1" class="b-link-stripe b-animate-go  thickbox play-icon popup-with-zoom-anim">
                  <img src="../images/pic-2.jpg" class="img-responsive" alt="" />
                  <div class="b-wrapper">
                    <h2 class="b-animate b-from-left    b-delay03 ">
                      iOS 7 Weather App Design
                      <img src="../images/icon-eye.png" alt=""/>
                    </h2>
                  </div>
                </a>
              </div>
            </div>
            <div class="portfolio web mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="web" style="display: inline-block; opacity: 1;">
              <div class="portfolio-wrapper">
                <a href="#small-dialog2" class="b-link-stripe b-animate-go  thickbox play-icon popup-with-zoom-anim">
                  <img src="../images/pic-3.jpg" class="img-responsive" alt="" />
                  <div class="b-wrapper">
                    <h2 class="b-animate b-from-left    b-delay03 ">
                      iOS 7 Weather App Design
                      <img src="../images/icon-eye.png" alt=""/>
                    </h2>
                  </div>
                </a>
              </div>

            </div>
            <div class="portfolio icon mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="icon" style="display: inline-block; opacity: 1;">
              <div class="portfolio-wrapper">
                <a href="#small-dialog3" class="b-link-stripe b-animate-go  thickbox play-icon popup-with-zoom-anim">
                  <img src="../images/pic-4.jpg" class="img-responsive" alt="" />
                  <div class="b-wrapper">
                    <h2 class="b-animate b-from-left    b-delay03 ">
                      iOS 7 Weather App Design
                      <img src="../images/icon-eye.png" alt=""/>
                    </h2>
                  </div>
                </a>
              </div>

            </div>
            <div class="portfolio icon mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="icon" style="display: inline-block; opacity: 1;">
              <div class="portfolio-wrapper">
                <a href="#small-dialog4" class="b-link-stripe b-animate-go  thickbox play-icon popup-with-zoom-anim">
                  <img src="../images/pic-5.jpg" class="img-responsive" alt="" />
                  <div class="b-wrapper">
                    <h2 class="b-animate b-from-left    b-delay03 ">
                      iOS 7 Weather App Design
                      <img src="../images/icon-eye.png" alt=""/>
                    </h2>
                  </div>
                </a>
              </div>

            </div>
            <div class="portfolio app mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="app" style="display: inline-block; opacity: 1;">
              <div class="portfolio-wrapper">
                <a href="#small-dialog5" class="b-link-stripe b-animate-go  thickbox play-icon popup-with-zoom-anim">
                  <img src="../images/pic-6.jpg" class="img-responsive" alt="" />
                  <div class="b-wrapper">
                    <h2 class="b-animate b-from-left    b-delay03 ">
                      iOS 7 Weather App Design
                      <img src="../images/icon-eye.png" alt=""/>
                    </h2>
                  </div>
                </a>
              </div>
            </div>
            <div class="portfolio card mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="card" style="display: inline-block; opacity: 1;">
              <div class="portfolio-wrapper">
                <a href="#small-dialog6" class="b-link-stripe b-animate-go  thickbox play-icon popup-with-zoom-anim">
                  <img src="../images/pic-7.jpg" class="img-responsive" alt="" />
                  <div class="b-wrapper">
                    <h2 class="b-animate b-from-left    b-delay03 ">
                      iOS 7 Weather App Design
                      <img src="../images/icon-eye.png" alt=""/>
                    </h2>
                  </div>
                </a>
              </div>
            </div>
            <div class="portfolio logo1 mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="logo1" style="display: inline-block; opacity: 1;">
              <div class="portfolio-wrapper">
                <a href="#small-dialog7" class="b-link-stripe b-animate-go  thickbox play-icon popup-with-zoom-anim">
                  <img src="../images/pic-8.jpg" class="img-responsive" alt="" />
                  <div class="b-wrapper">
                    <h2 class="b-animate b-from-left    b-delay03 ">
                      iOS 7 Weather App Design
                      <img src="../images/icon-eye.png" alt=""/>
                    </h2>
                  </div>
                </a>
              </div>
            </div>

            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>

          <div id="small-dialog" class="mfp-hide">
            <div class="image-top">
              <img src="../images/pic1.jpg" class="img-responsive" alt="" />
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to book.There are many variations of passages of Lorem Ipsum available, by injected humour.
              </p>
            </div>
          </div>
          <div id="small-dialog1" class="mfp-hide">
            <div class="image-top">
              <img src="../images/pic2.jpg" class="img-responsive" alt="" />
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to book.There are many variations of passages of Lorem Ipsum available, by injected humour.
              </p>
            </div>
          </div>
          <div id="small-dialog2" class="mfp-hide">
            <div class="image-top">
              <img src="../images/pic3.jpg" class="img-responsive" alt="" />
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to book.There are many variations of passages of Lorem Ipsum available, by injected humour.
              </p>
            </div>
          </div>
          <div id="small-dialog3" class="mfp-hide">
            <div class="image-top">
              <img src="../images/pic4.jpg" class="img-responsive" alt="" />
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to book.There are many variations of passages of Lorem Ipsum available, by injected humour.
              </p>
            </div>
          </div>
          <div id="small-dialog4" class="mfp-hide">
            <div class="image-top">
              <img src="../images/pic5.jpg" class="img-responsive" alt="" />
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to book.There are many variations of passages of Lorem Ipsum available, by injected humour.
              </p>
            </div>
          </div>
          <div id="small-dialog5" class="mfp-hide">
            <div class="image-top">
              <img src="../images/pic6.jpg" class="img-responsive" alt="" />
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to book.There are many variations of passages of Lorem Ipsum available, by injected humour.
              </p>
            </div>
          </div>
          <div id="small-dialog6" class="mfp-hide">
            <div class="image-top">
              <img src="../images/pic7.jpg" class="img-responsive" alt="" />
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to book.There are many variations of passages of Lorem Ipsum available, by injected humour.
              </p>
            </div>
          </div>
          <div id="small-dialog7" class="mfp-hide">
            <div class="image-top">
              <img src="../images/pic8.jpg" class="img-responsive" alt="" />
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to book.There are many variations of passages of Lorem Ipsum available, by injected humour.
              </p>
            </div>
          </div>
        </div>
      </div> -->
    </div>
    <!-- portfolio-section-ends -->
    <!-- blog-section-starts -->
    <div class="blog-section" id="BLOG">
      <div class="container">
        <div class="blog-section-head text-center">
          <h3>blog</h3>
          <label></label>
          <p>Recent blog writings</p>
        </div>
        <div class="blog-section-grids">
          <div class="col-md-9 blog-section-left-grid">
            <div class="blog-section-banner">
              <img src="../images/blog.jpg" class="img-responsive" alt="" />
              <h3>基于CloudFoundry平台的nodejs项目部署上线</h3>
              <span>
                19 Feb 2016 in
                <a href="javascript:;">LC_Blogs</a>
                - 3 Comments
              </span>
              <p>
                 Cloud Foundry（以下简称CF），CF是Vmware公司的PaaS服务平台，Paas（Platform as a Service，平台即服务）, 是为开发者提供一个应用运行的平台，有了这人平台，开发者无需搭建线上应用运行环境和服务(Mysql/mongodb/Rabbitmq等)，包括硬件和软件(os/应用软件如tomcat/rails等)环境。开发者可专注代码开发，最终提供源码(或war包之类的)信息，上传至PAAS，即可运行；同时pass平台提供DNS服务，一些Webapp可以直接完成上线。 
              </p>
              <p>简而言之，有了paas，开发者只需要提供源码，即可瞬间启动一个企业级的web service。</p>
              <p>1、注册免费CF账户</p>
              <p>(1)登陆注册网站http://my.cloudfoundry.com/signup进行注册。</p>
              <p>...</p>
              <div class="blog-section-tags">
                <p>
                  <span>TAGS</span>
                  :  cloud foundry、nodejs、项目部署、上线、个人网站
                </p>
              </div>
            </div>
            <div class="comments-section">
              <h4>3 COMMENTS</h4>
              <div class="comment-section-row">
                <div class="icon">
                  <img src="../images/c1.jpg" class="img-responsive" alt="" />
                </div>
                <div class="icon-text">
                  <h5>
                    <a href="javascript:;">Alex2917</a>
                  </h5>
                  <span>
                    Feb 20, 2016 at 9:05 pm -
                    <a hrewf="#">Reply</a>
                  </span>
                  <p>
                    博主我好仰慕你哈。
                  </p>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="comment-section-row span-3">
                <div class="icon">
                  <img src="../images/c1.jpg" class="img-responsive" alt="" />
                </div>
                <div class="icon-text">
                  <h5>
                    <a href="javascript:;">llcc2012</a>
                  </h5>
                  <span>
                    Feb 22, 2016 at 12:26 pm  -
                    <a hrewf="#">Reply</a>
                  </span>
                  <p>
                    看博主的文章就仿佛在欣赏艺术，手动点赞！
                  </p>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="comment-section-row">
                <div class="icon">
                  <img src="../images/c1.jpg" class="img-responsive" alt="" />
                </div>
                <div class="icon-text">
                  <h5>
                    <a href="javascript:;">东方败败</a>
                  </h5>
                  <span>
                    Feb 24, 2016 at 08:55 am  -
                    <a hrewf="#">Reply</a>
                  </span>
                  <p>
                    66666
                  </p>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <!-- <div class="rply-section">
              <h4>LEAVE A REPLY</h4>
              <p>
                The first three commits will be shown.
              </p>
              <form>
                <input type="text" class="text" value="Your Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Name';}">
                <input type="text" class="text" value="Your Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Email';}">
                <textarea onfocus="if(this.value == 'Your Message') this.value='';" onblur="if(this.value == '') this.value='Your Message';" >Your Message</textarea>
                <input type="button" value="POST COMMENT"></form>
            </div>
 -->
          </div>
          <div class="col-md-3 blog-section-right-grid">
            <div class="search">
              <h5>Search</h5>
              <div class="search-box">
                <form>
                  <input type="text" class="text" value="search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'search';}">
                  <input type="submit" value></form>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="categories">
              <h5>CATEGORIES</h5>
              <ul>
                <li>
                  <a href="javascript:;">css相关</a>
                </li>
                <li>
                  <a href="javascript:;">js相关</a>
                </li>
                <li>
                  <a href="javascript:;">web前端技术</a>
                </li>
                <li>
                  <a href="javascript:;">生活与创作</a>
                </li>
              </ul>
            </div>
            <div class="archives">
              <h5>archives</h5>
              <ul>
                <li>
                  <a href="javascript:;">2016年三月</a>
                </li>
                <li>
                  <a href="javascript:;">2016年二月</a>
                </li>
                <li>
                  <a href="javascript:;">2016年一月</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <!-- <div class="span_4_row">
          <div class="col-md-3 col">
            <img src="../images/r1.jpg" class="img-responsive" alt="" />
            <div class="image-text">
              <h5>Vivamus Rutrum Adipiscing Eros</h5>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit Fusce mole.
              </p>
              <a href="javascript:;">Read More</a>
            </div>
          </div>
          <div class="col-md-3 col">
            <img src="../images/r2.jpg" class="img-responsive" alt="" />
            <div class="image-text">
              <h5>Vivamus Rutrum Adipiscing Eros</h5>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit Fusce mole.
              </p>
              <a href="javascript:;">Read More</a>
            </div>
          </div>
          <div class="col-md-3 col">
            <img src="../images/r3.jpg" class="img-responsive" alt="" />
            <div class="image-text">
              <h5>Vivamus Rutrum Adipiscing Eros</h5>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit Fusce mole.
              </p>
              <a href="javascript:;">Read More</a>
            </div>
          </div>
          <div class="col-md-3 col">
            <img src="../images/r4.jpg" class="img-responsive" alt="" />
            <div class="image-text">
              <h5>Vivamus Rutrum Adipiscing Eros</h5>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit Fusce mole.
              </p>
              <a href="javascript:;">Read More</a>
            </div>
          </div>
          <div class="clearfix"></div>
        </div> -->
      </div>
    </div>

    <!-- blog-section-ends -->
    <!-- <div class="twitter-section">
      <div class="course_demo">
        <ul id="flexiselDemo3">
          <li>
            <a href="javascript:;">
              <i class="tw"></i>
            </a>
            <p>
              "Design is hard work. Striving for design excellence is even harder." ARCHIE BOSTON
            </p>
            <a href="javascript:;">@emrahdemirag</a>
          </li>
          <li>
            <a href="javascript:;">
              <i class="fb"></i>
            </a>
            <p>
              "Design is hard work. Striving for design excellence is even harder." ARCHIE BOSTON
            </p>
            <a href="javascript:;">@emrahdemirag</a>
          </li>
          <li>
            <a href="javascript:;">
              <i class="in"></i>
            </a>
            <p>
              "Design is hard work. Striving for design excellence is even harder." ARCHIE BOSTON
            </p>
            <a href="javascript:;">@emrahdemirag</a>
          </li>
        </ul>
      </div>
    </div> -->

    <!-- content-section-starts -->
    <div class="contact-section text-center" id="CONTACT">
      <div class="container">
        <div class="contact-section-head">
          <h3>contact</h3>
          <label></label>
          <p>I'm waiting for you!</p>
        </div>
        <div class="contact-info">
          <ul>
            <li>
              <i class="message"></i>
            </li>
            <li>
              alex2917@163.com
            </li>
            <li>
              <i class="phone"></i>
            </li>
            <li>15201615694</li>
          </ul>
          <!-- <form>
            <input type="text" class="text" value="Your Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Name';}">
            <input type="text" class="text" value="Your Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Email';}">
            <textarea onfocus="if(this.value == 'Your Message') this.value='';" onblur="if(this.value == '') this.value='Your Message';" >Your Message</textarea>
            <input type="button" value="SEND MESSAGE"></form> -->
        </div>
      </div>
    </div>

  </div>
  <!-- content-section-ends -->
  <!-- footer-section-starts -->
  <div class="footer">
    <div class="container">
      <div class="copy-rights text-center">
        <p>
          &copy; 2014 Template by
          <a href="http://w3layouts.com" target="target_blank">W3layouts</a>
        </p>
      </div>
    </div>
  </div>
  <a href="javascript:;" id="toTop" style="display: block;">
    <span id="toTopHover" style="opacity: 1;"></span>
  </a>
  <!-- <% include footer.html %>
  -->
  <script src="/js/jquery.js"></script>
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
  <script src="../js/move-top.js"></script>
  <script src="../js/easing.js"></script>
  <script src="../js/jquery.wmuSlider.js"></script>
  <script src="../js/jquery.mixitup.min.js"></script>
  <script src="../js/modernizr.custom.min.js"></script>
  <script src="../js/jquery.magnific-popup.js"></script>
  <script src="./js/jquery.flexisel.js"></script>
  <script>
      $(function(){

        // nav
        $("span.menu").click(function(){
          $(".top-menu ul").slideToggle("slow");
        });

        $('.popup-with-zoom-anim').magnificPopup({
              type: 'inline',
              fixedContentPos: false,
              fixedBgPos: true,
              overflowY: 'auto',
              closeBtnInside: true,
              preloader: false,
              midClick: true,
              removalDelay: 300,
              mainClass: 'my-mfp-zoom-in'
            });

        $('.example1').wmuSlider();         
        
        $(".scroll").click(function(event){   
          event.preventDefault();
          $('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
        });

        // Script for gallery Here
        (function(){
          var filterList = {
            
              init: function () {
              
                // MixItUp plugin
                // http://mixitup.io
                $('#portfoliolist').mixitup({
                  targetSelector: '.portfolio',
                  filterSelector: '.filter',
                  effects: ['fade'],
                  easing: 'snap',
                  // call the hover effect
                  onMixEnd: filterList.hoverEffect()
                });       
              
              },
              
              hoverEffect: function () {
              
                // Simple parallax effect
                $('#portfoliolist .portfolio').hover(
                  function () {
                    $(this).find('.label').stop().animate({bottom: 0}, 200, 'easeOutQuad');
                    $(this).find('img').stop().animate({top: -30}, 500, 'easeOutQuad');       
                  },
                  function () {
                    $(this).find('.label').stop().animate({bottom: -40}, 200, 'easeInQuad');
                    $(this).find('img').stop().animate({top: 0}, 300, 'easeOutQuad');               
                  }   
                );        
              
              }
        
            };
            
            // Run the show!
            filterList.init();
        })();

        $("#flexiselDemo3").flexisel({
          visibleItems: 1,
          animationSpeed: 1000,
          autoPlay: false,
          autoPlaySpeed: 3000,        
          pauseOnHover: true,
          enableResponsiveBreakpoints: true,
            responsiveBreakpoints: { 
              portrait: { 
                changePoint:480,
                visibleItems: 1
              }, 
              landscape: { 
                changePoint:640,
                visibleItems: 1
              },
              tablet: { 
                changePoint:768,
                visibleItems: 1
              }
            }
          });


        // footer
        $().UItoTop({ easingType: 'easeOutQuart' });

        $("#konw_more").click(function(){
          alert("请直接联系我吧！咚壁西爱~");
        });
      });
  </script>
</body>
</html>