body{
	background-color: #524664;
	color: #fff;
}
form label{
	color: #C6FFC6;
}
.main_body{
	margin-top: 60px;
	height: 300px;
}
.main_body .wrapper{
	margin: auto;
	width: 500px;
}
#error_tips{
	color: #FF4848;
}

/*----- responsive-design ------*/
@media screen and (max-width:1366px){
	.main_body .wrapper{
	width: 500px;
	}
}
@media screen and (max-width:1024px){
	.main_body .wrapper{
	width: 400px;
	}
}
@media screen and (max-width:480px){
	.main_body .wrapper{
	width: 300px;
	}
}
@media screen and (max-width:320px){
	.main_body .wrapper{
	width: 250px;
	}
}